{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Brian Reilly Health</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Nav -->
        <nav id="nav">
            <a href="#" class="icon solid fa-home"><span>Home</span></a>
			<a href="#about" class="icon solid fa-user"><span>About Me</span></a>
            <a href="#blog" class="icon solid fa-blog"><span>Blog</span></a>
            <a href="#work" class="icon solid fa-handshake"><span>Work with me</span></a>
            <a href="#contact" class="icon solid fa-envelope"><span>Contact Me</span></a>
            <a href="#booking" class="icon solid fa-calendar"><span>Booking</span></a>
        </nav>

        <!-- Main -->
        <div id="main">
            <!-- Me -->
            <article id="home" class="panel intro">
                <header>
                    <h1>Brian Reilly</h1>
                    <p>Senior Shite Talker</p>
                </header>
                <a href="#work" class="jumplink pic">
                    <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                    <img src="{% static 'images/porridge.jpg' %}" alt="" />
                </a>
            </article>

             <!-- About Me -->
            <article id="about" class="panel">
                <header>
                    <h2>About Me</h2>
                </header>
                <section>
                    <p>
                        My name is Brian, and I am a certified nutrition and health coach with a deep passion for empowering individuals to transform their lives through nutrition and lifestyle changes.                    </p>
                    <p>
                        <img src="{% static 'images/brian_profile.png' %}" alt="Brian" class="image fit about-me-image">
                    </p>
                    <p>
                        My journey into health and wellness began with my own personal experience. I was diagnosed with
                        ulcerative colitis, an autoimmune condition that presented me with significant health challenges.
                        Navigating the ups and downs of this condition was not easy, but it was also an awakening moment
                        and turning point for me in my life. It led me to discover the profound impact that nutrition and
                        lifestyle can have on our overall well-being.                    </p>
                    <p>
                        Through my research and personal experimentation, I realised that food is not just fuel, but a
                        powerful tool for healing. By making conscious dietary choices and embracing a holistic approach to
                        health, I was able to manage my condition and reclaim my vitality. This transformation inspired me
                        to become a coach, so I could share my knowledge and help others overcome their own health
                        challenges, just like I done.                    </p>
                    <p>
                        I understand first-hand the frustration and uncertainty that can accompany a health diagnosis. I
                        believe everyone is very individual and has their specific challenges they would like to overcome.
                        That&#39;s why my approach is compassionate and personalised. Whether you&#39;re dealing with a chronic
                        condition, seeking to improve your energy levels, or looking to adopt a healthier lifestyle, I am here
                        to support you every step of the way and understand the difficulties of not feeling yourself.
                    </p>
                    <p>
                        My mission is to empower you to take charge of your health and live a life of energy, balance and fulfilment.
                    </p>
                </section>

            </article>
            <!-- Blog -->
            <article id="blog" class="panel">
                <header>
                    <h2>How can I help?</h2>
                </header>
                <section>
                    <p>
                        As a nutrition and health coach, my goal is to empower you to achieve optimal well-being, enhance your vitality, and find balance in this hectic world, by increasing your energy levels and reducing stress on the body.
                    </p>
                    <p>
                        There are many ways to achieve this and through my one-to-one coaching approach we can build a personalised plan and provide the tools and support you need to make the appropriate lifestyle changes for your individual needs.
                    </p>
                    <p>
                        How can this be achieved?
                    </p>

                    <h3>Nutrition</h3>
                    <p>
                        - Improve gastrointestinal health & digestion (Incl. appetite, heartburn, reflux, pain, bloating, wind, constipation/diarrhoea etc.)<br>
                        - Include more whole foods in the diet.<br>
                        - Improve eating habits.<br>
                        - Address dehydration issues.<br>
                        - Address specific dietary restrictions or preferences.<br>
                        - Nutrition for sport and exercise.
                    </p>
                    <p>
                        <img src="{% static 'images/asparagus.jpg' %}" alt="Healthy Food" class="image fit">
                    </p>

                    <h3>Stress Management</h3>
                    <p>
                        - Manage and reduce stress levels.<br>
                        - Improve sleep quality and quantity.<br>
                        - Develop coping strategies for daily stressors.<br>
                        - Enhance overall mental well-being.<br>
                        - Incorporate meditation or mindfulness practice.
                    </p>

                    <h3>Weight Management</h3>
                    <p>
                        - Set realistic weight loss or gain targets.<br>
                        - Focus on body composition rather than just weight.<br>
                        - Create a healthy relationship with food.<br>
                        - Implement sustainable lifestyle changes.<br>
                        - Address emotional eating habits.
                    </p>
                    <p>
                        <img src="{% static 'images/casserole-dish.jpg' %}" alt="Meal Prep" class="image fit">
                    </p>

                    <h3>Movement and Exercise</h3>
                    <p>
                        - Establish a regular exercise routine.<br>
                        - Increase physical activity throughout the day.<br>
                        - Train for a specific event, fitness goal or sport.<br>
                        - Find enjoyable and sustainable forms of exercise.
                    </p>

                    <h3>Lifestyle and Habits</h3>
                    <p>
                        - Establish a consistent sleep schedule.<br>
                        - Cultivate better time management skills.<br>
                        - Develop self-care routines.<br>
                        - Foster positive social connections.<br>
                        - Reduce or eliminate unhealthy habits (e.g., smoking, excessive caffeine).
                    </p>
                    <p>
                        <img src="{% static 'images/salmon.jpg' %}" alt="Vegetables" class="image fit">
                    </p>
                </section>
            </article>


           <!-- One-to-One Coaching -->
            <article id="work" class="panel">
                <header>
                    <h2>One-to-One Coaching</h2>
                    <p>(online or in person)</p>
                    <p><strong>Starting from €90</strong></p>
                </header>
                <section>
                    <p>
                        My one-to-one coaching program is designed to provide you with the tools, support, and expertise
                        needed to achieve your individual health goals. Whether you're looking to boost energy levels,
                        improve digestion, lose weight, or simply feel better, I’m here to guide you every step of the way
                        and as a team make the necessary adjustments to help you towards better health.
                    </p>

                    <h3>How it works:</h3>
                    <ul>
                        <li><strong>Session 1:</strong> Information gathering session through a comprehensive evaluation of your current health and nutrition status.</li>
                        <li><strong>Session 2:</strong> Co-create an action plan as a team and make small sustainable adjustments that will lead you to take charge of your health and live a life of energy, balance, and fulfillment.</li>
                        <li><strong>Follow on sessions:</strong> These sessions provide ongoing support and accountability, monitor progress, allow us to adjust the plan, and address any challenges or barriers that come up.</li>
                    </ul>

                    <h3>What’s included?</h3>
                    <ul>
                        <li><strong>Initial Health Assessment:</strong> A comprehensive evaluation of current health status, including medical history, dietary habits, lifestyle, and stress & energy levels.</li>
                        <li><strong>One-on-One Coaching Sessions:</strong> Regularly scheduled in-person sessions or video/phone calls to provide ongoing support and accountability, monitor progress, adjust plans, and address any challenges or barriers that come up.</li>
                        <li><strong>Dietary Recommendations and Nutritional Analysis:</strong> Tailored personal plans based on your individual preferences, dietary restrictions, and health goals, including an evaluation of your current diet to identify nutritional gaps and deficiencies.</li>
                        <li><strong>Condition-Specific Guidance:</strong> Tailored advice for managing specific health conditions like autoimmune diseases, metabolic syndrome, food intolerances, and other digestive issues. My coaching plans are flexible and can be adjusted as your needs or circumstances change, ensuring continuous support and guidance.</li>
                        <li><strong>Constant Communication and Access:</strong> You will have access to me and can contact me between scheduled sessions via email or WhatsApp with any queries or questions you might have.</li>
                        <li><strong>Behavioral Coaching:</strong> Tools and strategies to help modify habits and sustain long-term health changes, including techniques to promote awareness and control over eating habits.</li>
                        <li><strong>Holistic Support:</strong> My coaching encompasses not just nutrition but also other aspects of health, such as exercise, sleep, stress management, and mental well-being. My clients receive not only nutritional guidance but also emotional and psychological support, helping them address underlying issues related to food and lifestyle, and coordinating with other health professionals when necessary.</li>
                    </ul>

                    <p>
                        If you are interested in working with me, please feel free to
                        <a href="#booking">schedule a free discovery call</a>
                        to have a friendly, no-pressure conversation about your health journey, an overview of how my coaching approach can support your needs, and a chance to ask questions and gain clarity on how we can work together.
                    </p>
                    <p>
                        Or else, send me an
                        <a href="#contact">email</a>
                        with any specific questions you might have.
                    </p>
                </section>
            </article>



        <!-- Contact -->
        <article id="contact" class="panel">
            <header>
                <h2>Contact Me</h2>
                {% if form.non_field_errors %}
                    <ul class="error-list" style="padding-top:20px;">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </header>
            <form action="{% url 'index' %}#contact" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 col-12-medium">
                        {{ form.name }}
                        {% if form.name.errors %}
                            <ul class="error-list">
                                {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-6 col-12-medium">
                        {{ form.email }}
                        {% if form.email.errors %}
                            <ul class="error-list">
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-6 col-12-medium">
                        <input type="email" name="confirm_email" id="confirm_email" placeholder="Confirm Your Email" onpaste="return false;" value="{{ form.confirm_email.value|default:'' }}">
                        {% if form.confirm_email.errors %}
                            <ul class="error-list">
                                {% for error in form.confirm_email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {{ form.subject }}
                        {% if form.subject.errors %}
                            <ul class="error-list">
                                {% for error in form.subject.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {{ form.message }}
                        {% if form.message.errors %}
                            <ul class="error-list">
                                {% for error in form.message.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Send Message" />
                    </div>
                </div>
            </form>
        </article>

                        <!-- Booking Section -->
        <article id="booking" class="panel">
            <header>
                <h2>Book Your Free Discovery Call</h2>
            </header>
            <section>
                <p>
                    I invite you to book a free discovery call with me. During this 15-minute session, we will discuss your
                    current health challenges, goals, and what you hope to achieve through coaching. This is an
                    opportunity for us to get to know each other and see if we're a good fit to work together.
                </p>
                <h3>What to Expect:</h3>
                <ul>
                    <li>A friendly, no-pressure conversation about your health journey.</li>
                    <li>An overview of how my coaching approach can support your needs.</li>
                    <li>A chance to ask questions and gain clarity on how we can work together.</li>
                </ul>
                <p>
                    This call is all about you, and there's no obligation to commit to any services. Let's explore how I can
                    help you make lasting changes and create a healthier, happier life.
                </p>
            </section>
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/brianreillyhealth/30min" style="min-width:320px;height:700px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->
        </article>



    </div>


        <!-- Footer -->
        <div id="footer">
            <ul class="copyright">
<!--                <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>